<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'"></header>

<section id="main">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

    <section id="content" ng-controller="lampCtrl" ng-init="init(2)">

        <div class="container">
            <div class="card">
                <div class="card-header m-r-30">
                    <h2 class="p-t-5">CZASY</h2>
                    <ul class="actions">
                        <li class="p-t-10">
                            <div class="toggle-switch" data-ts-color="red">
                                <label for="ts1" class="ts-label f-15">Wł/Wył</label>
                                <input id="ts1" type="checkbox" hidden="hidden" ng-model="modelState.on" ng-click="">
                                <label for="ts1" class="ts-helper"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="card-body card-padding">
                    <div ng-show="modelState.on">
                        <div ng-repeat="day in modelTimes">
                            <div class="row p-t-20">
                                <div class="col-md-2">
                                    <div class="checkbox m-b-15">
                                        <label>
                                            <input type="checkbox" ng-model="day.on">
                                            <i class="input-helper"></i> {{day.name}}
                                        </label>
                                    </div>
                                </div>
                                <div ng-show="day.on">
                                    <div class="col-xs-6 col-sm-3 text-center p-t-10">
                                        <label>CZAS</label>
                                    </div>
                                    <div class="col-xs-6 col-sm-3 text-center p-t-10">
                                        <label>PROCENT</label>
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary bgm-green  waves-effect" ng-click="addState(day)"><i class="zmdi zmdi-plus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="day.on">
                                <div class="row" ng-repeat="state in day.states">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control text-center ng-isolate-scope bgm-none" placeholder="CZAS" ng-model="state.time" autocomplete="off">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control text-center ng-isolate-scope bgm-none" placeholder="PROCENT" ng-model="state.percent" data-input-mask="{mask: '000'}" maxlength="3" autocomplete="off">
                                    </div>
                                    <div class="col-md-1">
                                        <button class="btn btn-primary bgm-red waves-effect" ng-click="removeState(day,state)"><i class="zmdi zmdi-delete"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="p-t-20">USTAWIENIA LAMPY</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 p-t-20" style="padding-bottom: 35px;">
                            <div class="toggle-switch" data-ts-color="red">
                                <label for="ts2" class="ts-label f-15">Włączenie podczas wymiany wody</label>
                                <input id="ts2" type="checkbox" hidden="hidden" ng-model="modelState.water_change_on">
                                <label for="ts2" class="ts-helper"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header">
                    <h2 class="p-t-20">AKCJE LAMPY</h2>
                </div>
                <div class="card-body card-padding">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 m-t-10">
                            <button class="btn btn-primary btn-block waves-effect" ng-click="reset()">RESET</button>
                        </div>
                        <div class="col-xs-12 col-sm-6 m-t-10">
                            <button class="btn btn-primary btn-block waves-effect" ng-click="save()">ZAPISZ</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>